<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Дерево заданий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Добро пожаловать на дерево заданий</h1>
    <div class="row mb-5">
        <h3 class="col-12">Дерево заданий</h3>
        <div class="col-12">
            <img th:src="@{img/mailstone.jpg}" alt="MailStone" class="center-block img-fluid">
        </div>
    </div>
    <form method="post" action="main-tree" class="form-signing" style="margin-top: 32px;">
    <div class="row mb-5">
        <div class="col-12 h3">Добавить MR на проверку</div>
        <div class="col-4">
                <div class="form-group">
                    <label for="taskChoose">Задание:</label>

                    <select class="form-control" name="selectTask" id="taskChoose">
                        <option th:each="existTask : ${existTasks}" th:value="${existTask.name}" th:text="${existTask.name}"></option>
                    </select>
                </div>
        </div>
        <div class="col-6">
                <div class="form-group">
                    <label for="mr">Ваш MR</label>
                    <input type="text" name="mr" class="form-control" id="mr" placeholder="https://gitea.novalab.live/novalab-pool/diff-reviewer/pulls/3">
                </div>
        </div>
        <div class="col-2" style="margin-top: 32px">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" class="form-button btn btn-outline-secondary" value="Отправить">
        </div>
    </div>
    </form>

</div>
</body>
</html>