<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .block{
            padding: 0;
            float: left;
        }
        .table-button{
            margin-top: 5px;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="main">
    <div class="container mt-5">
        <h1>Добро пожаловать в Profile</h1> </br>
        <div class="row mb-5">
            <div class="col-6 block" >
                <img th:src="@{/img/myFace.png}" class="img-fluid center-block rounded-circle" alt="MyFace" style="max-height: 350px;">
            </div>
            <div class="col-4 block">
                <p style="width: 100%;" class="mt-2 mb-2" th:text="'Ваш Логин: ' + ${login}"></p>
                <p style="width: 100%;" class="mt-2 mb-2" th:text="'Ваш Курс: ' + ${curse}"></p>
                <p style="width: 100%;" class="mt-2 mb-2" th:text="'Ваша Роль: ' + ${role}"></p>
            </div>
            <div class="col-2 block">
                <form class="form-signing mb-2" th:action="@{/logout}" method="post" >
                    <input type="submit" class="form-button btn btn-outline-secondary" value="Выйти из аккаунта">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
                <form class="form-signing" action="/profile-admin">
                    <input type="submit" class="form-button btn btn-outline-secondary" value="Профиль администратора">
                </form>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 mb-2">
                <h2>Ваши MR</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Задание</th>
                        <th>Студент</th>
                        <th>MR</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>DB_Config</td>
                        <td>dagas_sa</td>
                        <td>https://gitea.novalab.live/novalab-pool/diff-reviewer/pulls/3</td>
                        <td style="padding: 0">
                            <form>
                                <input type="button" class="form-button btn btn-outline-secondary table-button" value="Удалить">
                            </form>
                        </td>
                        <td style="padding: 0">
                            <form>
                                <input type="button" class="form-button btn btn-outline-secondary table-button" value="Просмотреть">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ui_Intro</td>
                        <td>dagas_sa</td>
                        <td>https://gitea.novalab.live/novalab-pool/diff-reviewer/pulls/3</td>
                        <td style="padding: 0">
                            <form>
                                <input type="button" class="form-button btn btn-outline-secondary table-button" value="Удалить">
                            </form>
                        </td>
                        <td style="padding: 0">
                            <form>
                                <input type="button" class="form-button btn btn-outline-secondary table-button" value="Просмотреть">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 ">
                <form class="form-signing">
                    <input type="button" class="form-button btn btn-outline-secondary" value="Обновить">
                </form>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 mb-2">
                <h2>Доступные вам для проверки MR</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Задание</th>
                        <th>Студент</th>
                        <th>MR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}">Text ...</td>
                        <td th:text="${request.descriptionPR}">Text...</td>
                        <td th:text="${request.creatorPR.username}">Text...</td>
                        <td th:text="${request.diffURL}">Text...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 ">
                <form method="get" action="profile" class="form-signing">
                    <input type="submit" class="form-button btn btn-outline-secondary" value="Обновить">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<!--<tr th:each="customer : ${customers}">-->
<!--    <td th:text="${customer.id}">Text ...</td>-->
<!--    <td th:text="${customer.name}">Text ...</td>-->
<!--    <td th:text="${customer.address}">Text ...</td>-->
<!--    <td th:text="${customer.serviceRendered}">Text...</td>-->
<!--</tr>-->